.title {
 font-family: 'Ubuntu', sans-serif;
 color: #1E8ED9;
 margin-left: 215px;
 font-size: 60px;
 text-align: center;
}

.heading {
  font-family: 'Ubuntu', sans-serif;
  color: #1E8ED9;
  margin-left: 10px;
  text-align: center;
}

.flightNumberField {
  font-family: 'Ubuntu', sans-serif;
  color: #1E8ED9;
  margin-left: 400px;
  margin-top: 1000px;
}

.phoneNumberField {
  font-family: 'Ubuntu', sans-serif;
  color: #1E8ED9;
  margin-left: 20px;
  margin-top: 220px;
}

.airplanePic {
  height: 80px;
  width: 200px;
  margin-left: 50%
}

.messageText {
  font-family: 'Ubuntu', sans-serif;
  color: #1E8ED9;
}

.submitButton {
  margin-left: 220px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
}

.submit {
  background-color: #1E8ED9;
  color: white;
  padding: 10px;
  padding-top: 10px;
  margin-left: 50px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 80px;
  font-family: 'Ubuntu', sans-serif;
  height: 30px;
  width: 120px;
}
  
select {
  background-color: #1E8ED9;
  color: white;
  padding: 10px;
  margin-left: 50%;
  border-radius: 80px;
  height: 40px;
  width: 120px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}